* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

/* Page background */
.auth-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f6f9; /* light professional gray */
  padding: 20px;
}

/* Card */
.auth-card {
  background: #ffffff;
  width: 100%;
  max-width: 450px;
  padding: 45px 35px;
  border-radius: 14px;
  text-align: center;

  border: 1px solid #d1d5db;

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);

  transition: 0.3s;
}

/* Lock icon */
.lock-icon {
  width: 70px;
  height: 70px;
  background: #7c9de4; /* professional blue */
  color: white;
  border-radius: 50%;
  margin: 0 auto 15px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
}

/* Headings */
.auth-card h2 {
  color: #111827;
  margin-bottom: 6px;
  font-size: 26px;
}

.auth-card p {
  color: #6b7280;
  margin-bottom: 25px;
}

/* Input group */
.input-group {
  display: flex;
  align-items: center;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  padding: 14px;
  margin-bottom: 18px;
  background: #f9fafb;
}

.input-group input {
  border: none;
  outline: none;
  width: 100%;
  padding-left: 10px;
  font-size: 15px;
  background: transparent;
}

/* Icons */
.icon {
  color: #306ca8;
  font-size: 18px;
}

/* Button */
.auth-btn {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 8px;
  background: #306ca8;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}

.auth-btn:hover {
  background: #306ca8;
}

/* Switch text */
.switch-text {
  margin-top: 18px;
  font-size: 15px;
  color: #374151;
}

.switch-text a {
  color: #306ca8;
  font-weight: bold;
  text-decoration: none;
}

/* Mobile */
@media (max-width: 600px) {
  .auth-card {
    padding: 30px 20px;
  }

  .auth-card h2 {
    font-size: 22px;
  }
}
