body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f9fafb;
  color: #111827;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: #ffffff;
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0px 8px 20px rgba(0,0,0,0.1);
  width: 350px;
}

h2 {
  color: #065f46;
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #d1fae5;
  margin-top: 10px;
}

input:focus {
  outline: none;
  border-color: #10b981;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border-radius: 12px;
  border: none;
  background: #10b981;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #065f46;
}

.link {
  text-align: center;
  margin-top: 10px;
}

.navbar {
  background: #065f46;
  padding: 15px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.dashboard {
  padding: 30px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 20px;
}
